<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-5">
  <div class="container">
    
    <!-- APP NAME / LOGO -->
   <span class="navbar-brand fw-bold text-warning me-5 fs-1">🛒 MyShop</span>
   
   <!--search Bar-->
   <form class="mx-auto" method="GET" action="/products" style="width: 420px;">
    <div class="input-group">
      <input type="search" class="form-control border-end-0 ms-5" name="query"
             placeholder="Search MyShop.in"aria-label="Search">
             <button class="input-group-text bg-warning border-start-0" type="submit">
              <i class="bi bi-search"></i>
             </button> 
    </div>
   </form>
   
    <!-- TOGGLE (MOBILE) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link active text-white fs-4" href="/">Home</a>
        </li>

        <li class="nav-item">
          {% if session.get('logged_in') %}
          <a class="nav-link active text-white fs-4" href="/logout">Logout</a>
          {% else %}
          <a class="nav-link active text-white fs-4" href="/login">🔐 Login</a>
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link active text-white fs-4" href="/register">📝 Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link position-relative text-white fs-4" href="/cart">🛒 Cart 
            {% if cart_count > 0 %} 
            <span class=" position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark ">
              {{cart_count}} 
            </span>
            {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" href="/orders">📦My Orders</a>
        </li>
        <li class="nav-item">
          <a href="nav-link text-white fs-4"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container-fluid m-4">
    <h3 class="text-center mb-4">🛒 Your Cart</h3>

    {% if products %}
    <div class="row">
      {% set ns = namespace(total=0) %}
      {% for p in products %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <div class="ratio ratio-4x3">
            <img src="{{ url_for('static', filename='uploads/' ~ p.p_image) }}"
                class="img-fluid rounded">
          </div>
          <div class="card-body">
            <h5>{{ p.p_name }}</h5>
            <div class="mb-2">
              Price: ₹{{ p.p_rate }} <br>
            </div>
              Quantity: 
              <form action="/update_cart" method="POST" class="d-inline">
                <input type="hidden" name="p_id" value="{{ p.p_id }}">
                <button class="btn btn-sm btn-secondary" name="action" value="decrease">−</button>
                <span class="mx-2">{{ p.order_qty }}</span>
                <button class="btn btn-sm btn-secondary" name="action" value="increase">+</button>
              </form><br>
              <div class="mb-2">
              Total: ₹{{ p.total_price }}
              </div>
              <!---remove-->
            <form action="/remove/{{ p.p_id}}" method="post">
              <button type="submit" class="btn btn-danger btn-sm">
                Remove X
              </button>
            </form>
          </div>
        </div>
      </div>
      {% set ns.total = ns.total + p.total_price %}
      {% endfor %}
      <div class="d-flex justify-content-end mb-3 position-fixed bottom-0 end-0" style="z-index:1050;" >
        <div class="card shadow p-3" style="min-width: 260px;">
          <h6 class="mb-2">Subtotal: 
            <strong>₹ {{ ns.total }}</strong>
          </h6>
          <a href="/order_summary" class="btn btn-success w-100">
            Proceed to Buy
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <p class="text-center text-danger">Your cart is empty 😢</p>
    {% endif %}
  </div>
</body>
</html>
