 {% extends "admin_base.html" %}
 {% block content %}
 <div class="bg-white p-4 rounded shadow-sm">

    <div class="container mt-5 ">
      <!-- ADD BUTTON --> 
       <div class="d-flex justify-content-end mb-3"> 
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal"> 
          + Add New Product
        </button> 
      </div> 
      <!-- PRODUCT TABLE --> 
       <div class="card shadow"> 
        <div class="card-header bg-dark text-white text-center"> 
          <h4>Product List</h4> 
        </div> 
        <div class="card-body"> 
          <table class="table table-bordered text-center"> 
            <thead class="table-secondary"> 
              <tr> 
                <th>ID</th> 
                <th>Name</th> 
                <th>Rate</th> 
                <th>Quantity</th> 
                <th>Image</th> 
                <th>Action</th> 
              </tr> 
            </thead> 
            <tbody class="text-center"> 
              {% for p in products %} 
              <tr> 
                <td>{{ p.p_id }}</td> 
                <td>{{ p.p_name }}</td> 
                <td>{{ p.p_rate }}</td> 
                <td>{{ p.p_quantity }}</td> 
                <td> <img src="{{ url_for('static', filename='uploads/' ~ p.p_image) }}" width="80"> </td> 
                <td> <button class="btn btn-primary btn-sm" onclick="openEditModal('{{ p.p_id }}','{{ p.p_name }}','{{ p.p_rate }}','{{ p.p_quantity }}','{{ p.p_image }}')">
                       Edit 
                      </button> 
                      <button class="btn btn-danger btn-sm" onclick="openDeleteModal('{{ p.p_id }}')"> 
                        Delete </button> 
                </td> 
              </tr> 
              {% endfor %} 
            </tbody> 
          </table> 
        </div> 
      </div> 
    </div> 
    <!-- ================= ADD MODAL ================= --> 
     <div class="modal fade" id="addModal"> 
      <div class="modal-dialog"> 
        <form action="/add" method="POST" enctype="multipart/form-data" class="modal-content"> 
          <div class="modal-header bg-success text-white"> 
            <h5>Add New Product</h5> 
            <button class="btn-close" data-bs-dismiss="modal"></button> 
          </div> 
          <div class="modal-body"> 
            <input name="p_id" class="form-control mb-2" placeholder="Product ID" required> 
            <input name="p_name" class="form-control mb-2" placeholder="Product Name" required> 
            <input name="p_rate" class="form-control mb-2" placeholder="Rate" required> 
            <input name="p_quantity" class="form-control mb-2" placeholder="Quantity" required> 
            <input type="file" name="p_image" class="form-control mb-2" required> 
          </div> 
          <div class="modal-footer"> 
            <button class="btn btn-success">Add</button> 
          </div> 
        </form> 
      </div> 
    </div> 
    <!-- ================= EDIT MODAL ================= --> 
     <div class="modal fade" id="editModal"> 
      <div class="modal-dialog"> 
        <form action="/update" method="POST" enctype="multipart/form-data" class="modal-content"> 
          <div class="modal-header bg-primary text-white"> 
            <h5>Edit Product</h5> 
            <button class="btn-close" data-bs-dismiss="modal"></button> 
          </div> 
          <div class="modal-body"> 
            <input id="edit_id" name="p_id" class="form-control mb-2" readonly> 
            <input id="edit_name" name="p_name" class="form-control mb-2" required> 
            <input id="edit_rate" name="p_rate" class="form-control mb-2" required> 
            <input id="edit_qty" name="p_quantity" class="form-control mb-2" required> 
            <label class="form-label">Current Image:</label> <img id="current_image" src="" width="80"> 
            <input type="file" name="p_image" class="form-control mt-2"> 
          </div> 
          <div class="modal-footer"> 
            <button class="btn btn-primary">Update</button> 
          </div> 
        </form> 
      </div> 
    </div> 
    <!-- ================= DELETE MODAL ================= --> 
     <div class="modal fade" id="deleteModal"> 
      <div class="modal-dialog"> 
        <form id="deleteForm" method="POST" class="modal-content"> 
          <div class="modal-header bg-danger text-white"> 
            <h5>Confirm Delete</h5> 
          </div> 
          <div class="modal-body"> 
            Are you sure you want to delete this product? 
          </div> <div class="modal-footer"> 
            <button class="btn btn-danger">Yes</button> 
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> 
          </div> 
        </form> 
      </div> 
    </div> 
    <!-- JS --> 
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> 
     <script>
     function openEditModal(id, name, rate, qty,img)
     { 
      document.getElementById("edit_id").value = id; 
      document.getElementById("edit_name").value = name; 
      document.getElementById("edit_rate").value = rate; 
      document.getElementById("edit_qty").value = qty; 
      document.getElementById("current_image").src = "/static/uploads/" + img; 
      new bootstrap.Modal(document.getElementById("editModal")).show(); 
     } 

     function openDeleteModal(id) 
     { 
      document.getElementById("deleteForm").action = "/delete/" + id; 
      new bootstrap.Modal(document.getElementById("deleteModal")).show(); 
      } 
      </script> 
      {% endblock %}
  
